@page "/categories"
@rendermode InteractiveServer
@attribute [OutputCache(Duration = 5)]
@using task_management.Shared.Models
@using task_management.Web.Services
@inject ICategoryService CategoryService
@inject IDialogService DialogService


<PageTitle>Categories</PageTitle>

<h3>Categories Management</h3>

<p>This component allows you to manage categories.</p>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentDataGrid Id="categoriesgrid" 
                    Items="@categories" 
                    GridTemplateColumns="1fr 1fr 1fr 1fr 1fr 1fr" 
                    TGridItem="CategoryDto"
                    SelectMode="DataGridSelectMode.Single"
                    SelectFromEntireRow="true"
                    >
        <ChildContent>
            @* <SelectColumn *@
            @*     TGridItem="CategoryDto" *@
            @*     SelectMode="DataGridSelectMode.Single" *@
            @*      *@
            @* /> *@
            <PropertyColumn Title="Id" Property="@(c => c!.Id)" Sortable="true" Align="Align.Start"/>
            <PropertyColumn Title="Name" Property="@(c => c!.Name)" Sortable="true" Align="Align.Start"/>
            <PropertyColumn Title="Description" Property="@(c => c!.Description)" Sortable="true" Align="Align.Start"/>
            <PropertyColumn Title="Task Count" Property="@(c => c!.Tasks.Count)" Sortable="true" Align="Align.Center"/>
            <PropertyColumn Title="Created" Property="@(c => c!.CreatedAt)" Sortable="true" Align="Align.End"/>
            <TemplateColumn Title="Actions" Align="@Align.End" >
                <FluentButton aria-label="Edit item" IconEnd="@(new Icons.Regular.Size16.Edit())"
                              OnClick="@(() => OpenEditDialog(context))"/>
                <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => { })"/>
            </TemplateColumn>
        </ChildContent>
        <EmptyContent>
            <FluentIcon Value="@(new Icons.Filled.Size24.Crown())" Color="@Color.Accent"/>&nbsp; Nothing to see here. Carry
            on!
        </EmptyContent>
        <LoadingContent>
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
                Loading...<br/>
                <FluentProgress Width="240px"/>
            </FluentStack>
        </LoadingContent>
    </FluentDataGrid>

    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center">
        <FluentButton Icon="@(new Icons.Filled.Size24.Add())" Text="Add Category" />
    </FluentStack>
}


@code {
    private FluentDataGrid<CategoryDto>? grid;
    private IQueryable<CategoryDto>? categories;
    private CategoryDto? SelectedCategoryDto;
    private bool isEditMode = false;

    protected override async Task OnInitializedAsync()
    {
        categories = await GetFromApi();
    }

    private async Task<IQueryable<CategoryDto>> GetFromApi()
    {
        var result = await CategoryService.GetAllCategoriesAsync();
        return result.AsQueryable();
    }
    
    private async Task OpenEditDialog(CategoryDto categoryDto)
    {
        var dialog = 
            await DialogService.ShowDialogAsync<CategoryEditDialog>(
            new CategoryEditModel   
            {
                
                    Id = categoryDto.Id,
                    Name = categoryDto.Name,
                    Description = categoryDto.Description
            },
            new DialogParameters()
            {
                Width = "480px",
                Height = "240px",
                Title = $"Updating the {categoryDto.Name} sheet",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
            });
        
        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            var updatedCategory = result.Data as CategoryDto;
            if (updatedCategory != null)
            {
                await CategoryService.UpdateCategoryAsync(updatedCategory.Id, updatedCategory);
                categories = await GetFromApi();
            }
        }
    }

    private async Task DeleteCategory(CategoryDto category)
    {
        await CategoryService.DeleteCategoryAsync(category.Id);
        categories = await GetFromApi();
    }
}
